body{
    color: white;
    text-shadow: 2px 2px black;
    background-image: url("https://wallpaperscraft.com/image/computer_keyboard_mouse_laptop_mac_apple_66734_1920x1080.jpg");
    background-size: cover;
}

#logo{
   display: block;
   margin: auto;
   width: 50%;
   
   
}

img{
    display: block;
    margin: auto;
    x.style.height = "300px";
    x.style.width = "500px";
}

h1{
    text-align: center;
}

p{
    font-size: 20px;
    margin: auto;
    text-align: center;
    width: 50%;
}

a:visited {
    color: white;
}
